{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h1>About Me</h1>
            </div>
              <br>
            <h3>Welcome to my website</h3>
              <br>
              <p class="article-content">Here you'll find examples of my past projects.

                A little bit about myself:
                I am a new graduate of Centennial College with a diploma in Software Engineering Technology looking for career opportunities. Some languages that I've worked with are Python, C#, Java, Typescript and many others but I am happy to learn new languages and frameworks.

                    As a newbie in the coding industry, I don't have a lot of experience but I do have soft skills from working in the food industry at a very young age. These jobs taught me about teamwork, initiative, leadership and communication skills.

                  During my free time, I like to play video games, cook, go on hikes or camping trips.</p>
            <p class="article-content">
                Please feel free to contact me on <a href="https://www.linkedin.com/in/gan-xi-ye-168193185/">LinkedIn</a> if you like what you see here.
            </p>
          </div>
        </article>
{% endblock content %}